*{
    box-sizing: border-box;
}

body {
    background-color: rgb(255,204,0);
    
    
}

.container-fluid.webpage-container{
    max-width: 85%;
    padding: 20px;
}

/* Although bootstrap has flex, it does not allow you to use, need to specify! */
#social-media{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.icons{
    margin: 0 5px;
    color: black;
}


.my-nav-bar{
    width: 100%;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    
}

.my-nav-brand{

    font-size: 12px;
    -webkit-box-shadow: inset 0px 0px 69px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 69px 0px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 69px 0px rgba(0,0,0,1);
    color: rgb(248,249,250) !important;


   
    
}
.navbar-expand-lg .navbar-nav .nav-link.my-nav-links{
    font-size: 12px;
    height: 66px ;
    line-height: 50px;
    padding-right: 1rem;
    padding-left: 1rem;

    transition: 0.3s;
    
}


.navbar-collapse a:hover { 
    -webkit-box-shadow: inset 0px 0px 69px 0px rgba(0,0,0,1)!important;
    -moz-box-shadow: inset 0px 0px 69px 0px rgba(0,0,0,1)!important;
    box-shadow: inset 0px 0px 69px 0px rgba(0,0,0,1) !important;
    color: #ffffff!important;

} 

.carousel{
    width:100%;
    padding-bottom: 30px;

}

.dropdown-menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px!important;

}
.dropdown-menu a:hover{
    background-color: rgb(53,53,53) !important;
    color: rgb(248,249,250) !important;
}

.caption-block{
    background-color: rgb(0,0,0,0.8);
    top: 50%;
    transform: translateY(-50%) translateX(40%);
    bottom: initial;
    padding: 20px;
    width: 40%;

    
}

.caption-block > h5{
    font-family: 'League Gothic' sans-serif;
    font-size: 20px;
    border-top: solid white 2px;
    border-bottom: solid 1px rgba(255,255,255,0.2);
    padding: 2px 0;
    
}

.caption-block > p{
    font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-bottom: solid white 2px;
    padding: 2px 0;
}


.widget-title{
    font-family: 'League Gothic' sans-serif;
    font-weight: normal;
    font-size: 15px;
    margin: 0 0 10px 0;
    line-height: 1;
}


@media (max-width: 768px){
    .latest-media{
        background-color: white;
        padding: 15px;
        box-shadow: 0 0 7px rgba(0,0,0,0.1);
        
    }
    
}

@media (min-width: 769px){
    .latest-media{
        background-color: white;
        height: 25vw;
        padding: 15px;
        box-shadow: 0 0 7px rgba(0,0,0,0.1);
        
    }
}
.event-container{
    margin-right: 20px;
}
.container-fluid.upcoming-event{
    background-color: white;
}
.event-calendar{
    padding: 10px 0;
    background-color: rgb(53,53,53);
    color: white;
    font-weight: bold;
}
.event-calendar.alternate{
    background-color: rgb(63,63,63);
}

.row.event-date{
    justify-content: center;
    font-family: "League Gothic";
    font-size: 25px;
}

.row.event-month{
    justify-content: center;
    font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 8px;
    color: rgb(168,168,168);
}
.row.event-year{
    justify-content: center;
    font-family: "League Gothic";
    font-size: 15px;

}

.event-details{
    margin-bottom: 20px;
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

.row.event-name{
    font-size: 10px;
    border-bottom: solid 1px rgb(255,204,0);
    line-height:1;
}
.row.event-location{
    font-size: 10px;
    color: rgb(124,124,124);
}
.yellow-box.buy{
    padding: 5px 10px;
    justify-content: center;
    font-size: 8px;
}
.latest-media > img{
    width: 100%;

}

.latest-media-box{
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}
.latest-media-title{
    font-size: 13px;
    color: rgb(53,53,53);
    padding-bottom: 5px;
}

.latest-media-location{
    font-size: 12px;
    color: rgb(124,124,124);
}

.yellow-box{
    background-color: rgb(255,204,0);
    padding: 7px 12px 6px;
    font-size: 10px;
    position: relative;
    top: 10px;


}

.row.three-columns{
    padding-bottom: 20px;
}

#news-container{
    padding: 0;
    margin-right: 20px;
    
}

#news-article{
    background-color: white;
    padding: 10px 30px 30px;
    font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

#news-article > h5{
    color: #353535;
    border-bottom: solid 1px rgb(255,204,0);
    margin: 14px 0px 10px;
}

#news-article > h6 {
    color: #626262;
    border-top: double 1px rgb(241,241,241);
    border-top-width: 3px;
    border-bottom: double 1px rgb(241,241,241);
    border-bottom-width: 3px;
    margin: 18px 0 15px;
    padding: 5px 0px;
}

#news-article > p{
    color: #626262;
    font-size: 14px;
}

#album-container{
    padding:0;
    margin: 0;
}

#albums{
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

.album-name{
    font-size:13px;
}

.release-date{
    font-size: 12px;
    color: #7C7C7C;
}

.play-button{
    display: flex;
    align-items: center;
}