#file-path{
    margin-top: 100px;
    margin-bottom: 50px;
}

#file-container{
    display: flex;
    flex-wrap: wrap;
}

.directory, .files{
    width: 25%;
    height: 20px;
    margin-bottom: 40px;
}

.fa-folder-open:before, .fa-file:before {
    margin-right: 10px;
}



.inactiveLink {
   pointer-events: none;
   
}