


/**
    The box-model of content-box:
    Width + Padding + Border + Margin 

    With Background color:
    Width + Padding

    Margin - always transparent
    

    The box-model of border-bpx:
    Width = Padding + Border + Content

**/

body{
    color: grey;
}

.squares{
    height: 100px;
    width: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}


#game-board{
    display: flex;
    width: 320px;
    flex-wrap: wrap;
}

#game-area{
    display: flex;
    justify-content: center;
    background-color: #1BBCAB;
    padding:30px
}

#main-box{
    border-width: 1px;
    border-color: grey;
    border-radius: 20px;
    border-style: solid;
}


#restart-game{
    color: #1BBCAB;
    text-align: center
}

.top-bordered{
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #15A192
}

.left-bordered{
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #15A192
}

.right-bordered{
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color: #15A192
}

.bottom-bordered{
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #15A192
}

.circle{
    font-size: 70px;
    color: #E0EED4;
}

.cross{
    font-size: 70px;
    color: #476B68;
}

#turn-indicator{
    text-align: center;
}

.black-icon{
    color: black;
}

#scoreboard{
    display:flex;
    justify-content: center;
}

.scores{
    width: 200px;
    height: 50px;
    border-width:1px;
    border-color: grey;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px grey;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.scores.active{
    border-bottom-color: #15A192;
    border-bottom-width: 3px;
}

#share-button{
    height: 30px;
    color:#339AF0;
}

#share-and-dropdown{
    display:flex;
    justify-content: space-between;
    padding:20px
}

.box-circle{
    content: url("circle-regular.svg");
    width: 70px;
}

.box-cross{
    content: url("times-solid.svg");
    width: 60px;
}

.cross-win{
    content: url("times-solid.svg");
    width: 100%;
}

.circle-win{
    content: url("circle-regular.svg");
    width: 100%;
}
